# Private Caddy stuff
caddy/data
caddy/config

# Databases
db

# Nextcloud
nc

# The minecraft part of this server is in a completely sorry state, that I don't want to show to anyone for now (nor - first and foremost - deploy it). But I want to keep working on the personal-homepage-website-thing, without having to remember to not commit anything MC-related. Hence - it's ignored for now.
modpacks
#^Stores MC modpack sources
grinch.kdl
#^Manifest for modpacks (see: https://github.com/Team-GhostLand/Grinch)
#I can deal with SOME MC-related leftovers, as long as I'm not „oversharing” - so it's not a problem to have some mentions of MC in compose.yml, or this thing below:

# Minecraft (via Grinch/Modrinth tooling)
**.gr-workspace
**.mrpack

# Secrets
secrets/*.txt
secrets/mxturnfull.conf