# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

https://guziohub.ovh:443, http://guziohub.ovh:80 {
    root * /srv
    encode
    file_server browse

	handle_path /nextcloud/* {
		root * /srv/nextcloud
		encode
    	php_fastcgi nextcloud:9000
		file_server
		
    	redir /.well-known/carddav /nextcloud/remote.php/dav 301
    	redir /.well-known/caldav /nextcloud/remote.php/dav 301
		
    	@forbidden {
    	        path /nextcloud/.htaccess
    	        # path /nextcloud/data/* We don't even mount this, so it can be commended out. Preserved for reference.
    	        path /nextcloud/config/*
    	        path /nextcloud/db_structure
    	        path /nextcloud/.xml
    	        path /nextcloud/README
    	        path /nextcloud/3rdparty/*
    	        path /nextcloud/lib/*
    	        path /nextcloud/templates/*
    	        path /nextcloud/occ
    	        path /nextcloud/console.php
    	}
    	respond @forbidden 403
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfilex