# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

https://guziohub.ovh:443, http://guziohub.ovh:80 {
    root * /srv
    encode
    file_server browse
	
	# Make sure noone tries to bypass Nextcloud's auth by directly navigating to its folder
	redir /nextcloud https://drive.guziohub.ovh 301
	redir /nextcloud/ https://drive.guziohub.ovh 301
	respond /nextcloud/* 403
}

https://drive.guziohub.ovh:443, http://drive.guziohub.ovh:80 {
	root * /srv/nextcloud
	encode
    php_fastcgi nextcloud:9000
	file_server
	
    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301
	
    @forbidden {
            path /.htaccess
            # path /data/* We don't even mount this, so it can be commended out. Preserved for reference.
            path /config/*
            path /db_structure
            path /.xml
            path /README
            path /3rdparty/*
            path /lib/*
            path /templates/*
            path /occ
            path /console.php
    }
    respond @forbidden 403
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfilex